<h1>Summary</h1>
<p>
  <%= image_tag(@deed.charity.user.logo.url, :size => '100x100') %><br/>
  <%= link_to @deed.charity.name, charity_path(@deed.charity) %>
</p>
<p>
  Sponsored by:<br/>
  <%= image_tag(@deed.sponsor.user.logo.url) %><br/>
  <%= link_to @deed.sponsor.name, sponsor_path(@deed.sponsor) %>
</p>