@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	}
body {
	background: #fff url(../images/bg.jpg) repeat-x left top;
	line-height: 1;
	}
ol, ul {
	list-style: none;
	}
blockquote, q {
	quotes: none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
a{
	outline:none;
	}
a img{
	border:0 none;
	}


/* Commonly Use */

.left{
	float:left;	
	}
.right{
	float:right;	
	}
.clear{
	height:0;
	clear:both;
	}
.clr_margin{
	margin: 0px!important;
	}
.clr_border{
	border: none!important;
	}
.clr_padding{
	padding: 0px!important;
	}
.clr_bg{
	background: none!important;
	}
.bold{
	font-weight:bold;	
	}
.alignright{
	text-align:right;	
	}
.aligncenter{
	text-align:center;	
	}
.absolute{
	position:absolute;	
	}
	
	
/* PREDEFINE */
@font-face {
    font-family: 'Digital7Mono';
    src: url('../fonts/digital-7-webfont.eot');
    src: url('../fonts/digital-7-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7-webfont.woff') format('woff'),
         url('../fonts/digital-7-webfont.ttf') format('truetype'),
         url('../fonts/digital-7-webfont.svg#Digital7Mono') format('svg');
    font-weight: normal;
    font-style: normal;
	}
html, body{
	height: 100%;
	}
p{
	font: 12px Arial, Helvetica, sans-serif;
	}
h3{
	font: 28px Arial, Helvetica, sans-serif;
	}
h4{
	font: 24px Arial, Helvetica, sans-serif;
	}
h5{
	font: 18px Arial, Helvetica, sans-serif;
	}
h6{
	font: 10px Arial, Helvetica, sans-serif;
	}


/* CONTAINERS */

.container{
	background: url(../images/bg_graphics.jpg) no-repeat top;
	position: relative;
	min-width: 1024px;
	min-height: 100%;
	margin-bottom: -213px;
	}
.shadow_wrap{
	background: url(../images/bg_shadow.png) repeat-x left bottom;
	min-width: 1024px;
	}
.greycontainer_topwrap{
	background: url(../images/greycontainer_topwrap.png) no-repeat center top;
	width: 481px;
	padding: 5px 0 0 0;
	margin: 0 auto 10px auto;
	}
.greycontainer_btmwrap{
	background: url(../images/greycontainer_btmwrap.png) no-repeat center bottom;
	width: 481px;
	padding: 0 0 5px 0;
	}
.greycontainer_midwrap{
	background: url(../images/greycontainer_midwrap.png) repeat-y center bottom;
	width: 451px;
	min-height: 110px;
	padding: 5px 15px 5px 15px;
	}
	
	
/* HEADER */

.header{
	width: 976px;
	height: 106px;
	margin: auto;
	}
.logo{
	float: left;
	width: 334px;
	height: 85px;
	padding: 21px 0 0 9px;
	}
.taglines{
	float: left;
	width: 475px;
	height: 106px;
	}
.socialmedia{
	float: right;
	width: 158px;
	height: 106px;
	}
.socialmedia ul{
	padding: 59px 0 0 28px;
	}
.socialmedia ul li{
	float: left;
	margin: 0 5px 0 0;
	}
.socialmedia ul li p{
	padding: 23px 0 0 0;
	}
	
	
/* TOP NAVIGATION */

.topnavwrap{
	width: 976px;
	height: 55px;
	margin: auto;
	padding: 43px 0 0 0;
	}
.topnavleftwrap{
	background: url(../images/bg_topnavleftwrap.png) no-repeat left top;
	width: 958px;
	padding: 0 0 0 2px;
	margin: auto;
	}
.topnavrightwrap{
	background: url(../images/bg_topnavrightwrap.png) no-repeat right top;
	width: 956px;
	padding: 0 2px 0 0;
	}
.topnavmidwrap{
	background: url(../images/bg_topnavmidwrap.png) repeat-x left top;
	width: 956px;
	height: 48px;
	}
.topnav{
	float: left;
	height: 48px;
	width: 808px;
	}
.topnav ul{
	padding: 15px 30px 0 30px;
	}
.topnav ul li{
	float: left;
	padding: 0 8px 0 8px;
	}
.topnav ul li a{
	font: 12px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	}
.topnav ul li.active a,
.topnav ul li a:hover{
	color: #8bb4cd;
	}	
.usernav{
	float: right;
	width: 148px;
	height: 48px;
	}
.usernav ul{
	padding: 16px 30px 0 20px;
	}
.usernav ul li{
	float: left;
	padding: 0 5px 0 5px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #fff;
	}
.usernav ul li a{
	font: 12px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	}
.usernav ul li.active a,
.usernav ul li a:hover{
	color: #8bb4cd;
	}
	
	
/* PAGEBODY */

.pagebody_topwrap{
	background: url(../images/bg_pagebody_topwrap.png) no-repeat top;
	width: 976px;
	padding: 23px 0 0 0;
	margin: auto;
	}
.pagebody_btmwrap{
	background: url(../images/bg_pagebody_btmwrap.png) repeat-y top;
	width: 958px;
	padding: 0 9px 0 9px;
	}
.pagebody_midwrap{
	background: url(../images/bg_pagebody_midwrap.png) repeat-x left top;
	width: 958px;
	min-height: 350px;
	}
	

/* MAJOR SPONSOR */

.majorsponsor{
	background: url(../images/bg_shadow_majorsponsor.png) no-repeat bottom;
	width: 940px;
	height: 121px;
	padding: 0 0 14px 0;
	margin: auto;
	}
.majorsponsor_leftwrap{
	background: url(../images/bg_majorsponsor_leftwrap.png) no-repeat left top;
	width: 934px;
	height: 121px;
	padding: 0 0 0 6px;
	}
.majorsponsor_rightwrap{
	background: url(../images/bg_majorsponsor_rightwrap.png) no-repeat right top;
	width: 928px;
	height: 121px;
	padding: 0 6px 0 0;
	}
.majorsponsor_midwrap{
	background: url(../images/bg_majorsponsor_midwrap.png) repeat-x left top;
	width: 928px;
	height: 113px;
	padding: 8px 0 0 0;
	}
.msponsor_container{
	width: 821px;
	margin: auto;
	}
.msponsor_logowrap{
	background: #fff;
	width: 160px;
	height: 87px;
	border-right: 1px solid #005c6f;
	border-bottom: 1px solid #005c6f;
	-moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
	 border-radius: 5px 5px 5px 5px;
	 float: left;
	 margin: 0 4px 0 0;
	 text-align: center;
	 overflow: hidden;
	}
.msponsor_logowrap img{
	height: 87px;
	}
.majorsponsor_midwrap h6{
	color: #fff;
	padding: 0 0 5px 0;
	text-align: center;
	text-transform: uppercase;
	}
	
	
/* CONTENT SECTION */

.content{
	float: left;
	width: 481px;
	min-height: 200px;
	padding: 0 15px 0 15px;
	}
	
	
/* LEFT SECTION */

.leftsec_topwrap{
	background: url(../images/bg_leftsec_topwrap.png) no-repeat left top;
	float: left;
	width: 188px;
	padding: 13px 0 0 0;
	margin: 0 0 12px -6px;
	}
.leftsec_btmwrap{
	background: url(../images/bg_leftsec_btmwrap.png) no-repeat left bottom;
	width: 188px;
	padding: 0 0 15px 0;
	}
.leftsec_midwrap{
	background: url(../images/bg_leftsec_midwrap.png) repeat-y left top;
	width: 179px;
	min-height: 150px;
	padding: 0 4px 1px 5px;
	}
.leftmenu{
	width: 179px;
	margin: 0 0 10px 0;
	}
.leftmenu h5{
	background: url(../images/bg_leftmenu_orangeheading.png) no-repeat left top;
	display: block;
	width: 132px;
	height: 27px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 4px 0;
	padding: 4px 32px 0 15px;
	font-family: "Impact";
	}
.leftmenu h5.orange{
	background: url(../images/bg_leftmenu_orangeheading.png) no-repeat left top;
	display: block;
	width: 132px;
	height: 27px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 4px 0;
	padding: 4px 32px 0 15px;
	font-family: "Impact";
	}
.leftmenu h5.green{
	background: url(../images/bg_leftmenu_greenheading.png) no-repeat left top;
	display: block;
	width: 132px;
	height: 27px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 4px 0;
	padding: 4px 32px 0 15px;
	font-family: "Impact";
	}
.leftmenu h5.yellow{
	background: url(../images/bg_leftmenu_yellowheading.png) no-repeat left top;
	display: block;
	width: 132px;
	height: 27px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 4px 0;
	padding: 4px 32px 0 15px;
	font-family: "Impact";
	}
.leftmenu ul li a{
	background: url(../images/bg_leftnav.png) no-repeat left top;
	display: block;
	width: 139px;
	height: 16px;
	padding: 5px 15px 5px 25px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	}
.leftmenu ul li a:hover{
	background-position: left bottom;
	text-shadow: #027193 1px 1px 0px;
	}
	
	
/* RIGHT SECTION */

.rightsec{
	float: right;
	width: 261px;
	padding: 0 4px 0 0;
	}
.give_ons{
	width: 261px;
	}
.give_ons h5{
	background: url(../images/bg_giveons_heading.png) no-repeat left top;
	width: 214px;
	height: 27px;
	color: #fff;
	font-family: "Impact";
	text-transform: uppercase;
	display: block;
	padding: 4px 32px 0 15px;
	margin: 0 0 5px 0;
	}
.give_ons .item_topwrap{
	background: url(../images/bg_item_topwrap.png) no-repeat top;
	width: 261px;
	padding: 7px 0 0 0;
	margin: 0 0 5px 0;
	}
.give_ons .item_btmwrap{
	background: url(../images/bg_item_btmwrap.png) no-repeat bottom;
	width: 261px;
	padding: 0 0 6px 0;
	}
.give_ons .item_midwrap{
	background: url(../images/bg_item_midwrap.png) repeat-y top;
	width: 241px;
	min-height: 96px;
	padding: 3px 10px 3px 10px;
	}
.giveons_logo{
	float: left;
	background: url(../images/bg_giveons_logo.png) no-repeat left top;
	width: 137px;
	height: 86px;
	padding: 5px 0 5px 0;
	text-align: center;
	}
.giveons_logo img{
	height: 86px;
	}
.giveons_info{
	float: right;
	width: 94px;
	height: 96px;
	}
.giveons_info p.info{
	color: #fff;
	line-height: 13px;
	display: block;
	height: 80px;
	}
.giveons_info p.dateend{
	color: #fff;
	font-size: 10px;
	line-height: 13px;
	}
.stories_topwrap{
	background: url(../images/bg_storiestopwrap.png) no-repeat top;
	width: 261px;
	padding: 5px 0 0 0;
	margin: 0 0 12px 0;
	}
.stories_btmwrap{
	background: url(../images/bg_storiesbtmwrap.png) no-repeat bottom;
	width: 261px;
	padding: 0 0 5px 0;
	}
.stories_midwrap{
	background: url(../images/bg_storiesmidwrap.png) repeat-y top;
	width: 241px;
	padding: 5px 10px 5px 10px;
	}
.stories_midwrap .button{
	padding: 8px 0 6px 0;
	text-align: center;
	}
.stories_midwrap h5{
	background: url(../images/bg_stories_heading.png) no-repeat left top;
	color: #fff;
	font-family: "Impact";
	text-transform: uppercase;
	display: block;
	width: 194px;
	height: 28px;
	padding: 4px 32px 0 15px;
	margin: 0 0 5px 0;
	}
.stories{
	width: 212px;
	border-bottom: 1px dashed #bfbfbf;
	padding: 5px 5px 10px 5px;
	margin: 0 auto 5px auto;
	}
.stories:hover{
	background: #eef1f1;
	}
.stories .story{
	color: #666;
	padding: 0 0 3px 0;
	}
.stories .author{
	color: #999;
	font-size: 10px;
	padding: 0 0 3px 0;
	}
.stories .readmore a,
.stories .readmore{
	color: #ff7e00;
	font-size: 11px;
	text-align: right;
	}
.stories .readmore a:hover{
	text-decoration: none;
	}
	
	
/* FOOTER */

.footer{
	background: url(../images/bg_footer.jpg) repeat-x left top;
	position: relative;
	height: 213px;
	min-width: 1024px;
	}
.footer_clear{
	min-width: 1024px;
	height: 213px;
	clear: both;
	}
.minorsponsors{
	width: 1024px;
	height: 113px;
	margin: auto;
	}
.minorsponsors ul{
	text-align: center;
	padding: 15px 0 0 0;
	}
.minorsponsors ul li{
	display: inline;
	padding: 0 2px 0 2px;
	}
.minorsponsors ul li img{
	height: 83px;
	}
.footer_bgwrap{
	background: url(../images/bg_footerwrap.jpg) no-repeat top;
	min-width: 1024px;
	height: 100px;
	}
.footerwrap{
	width: 1024px;
	margin: auto;
	}
.footernav{
	float: left;
	width: 542px;
	padding: 36px 20px 0 40px;
	}
.footernav ul li{
	float: left;
	font: 11px Arial, Helvetica, sans-serif;
	color: #fff;
	}
.footernav ul li a{
	font: 11px Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 0 8px 0 8px;
	text-decoration: none;
	}
.footernav ul li a:hover{
	text-decoration: underline;
	}
.copyright{
	float: right;
	width: 362px;
	padding: 36px 40px 0 20px;
	}
.copyright p{
	float: right;
	font: 11px Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 0 8px 0 0;
	}
	
	
/* TAG SLIDES CSS */

#slideshow {
    position:relative;
    height: 106px;
    width: 475px;
	}
#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
	}
#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
	}
#slideshow IMG.last-active {
    z-index:9;
	}
	
	
/* HOME PAGE */

.timeremaining_wrap{
	position: relative;
	background: url(../images/bg_timeremaining.png) no-repeat left top;
	padding: 25px 35px 23px 39px;
	width: 151px;
	height: 64px;
	float: left;
	z-index: 99;
	}
.timeremaining_wrap .wrapper{
	background: url(../images/img_sandclock.png) no-repeat left top;
	width: 103px;
	height: 64px;
	padding: 0 0 0 48px;
	}
.timeremaining_wrap h4{
	font: 48px "Digital7Mono", Arial, Helvetica, sans-serif;
	text-shadow: #fef98f 1px 1px 0px;
	color: #6d261d;
	line-height: 45px;
	}
.timeremaining_wrap p{
	font: 14px Arial, Helvetica, sans-serif;
	color: #1d0401;
	text-shadow: #fef98f 1px 1px 0px;
	}
.countdown_button{
	position: relative;
	float: left;
	background: url(../images/button_clickheretobuydeed.png) no-repeat left top;
	display: block;
	width: 259px;
	height: 38px;
	text-indent: 999px;
	margin: -56px 0 0 192px;
	z-index: 1;
	overflow: hidden;
	}
.countdown_title{
	display: block;
	font: bold 26px Tahoma, Geneva, sans-serif;
	color: #ff7e00;
	float: left;
	padding: 22px 0 0 5px;
	}
.countdown_title span{
	color: #038db7;
	}
.donationpurchase_midwrap{
	background: url(../images/donationpurchase_midwrap.jpg) repeat-y left top;
	float: left;
	width: 244px;
	margin: 0 0 5px 0;
	}
.donationpurchase_topwrap{
	background: url(../images/donationpurchase_topwrap.jpg) no-repeat left top;
	width: 244px;
	}
.donationpurchase_btmwrap{
	background: url(../images/donationpurchase_btmwrap.jpg) no-repeat left bottom;
	width: 204px;
	min-height: 59px;
	padding: 10px 30px 10px 10px;
	}
.matchingcon_midwrap{
	background: url(../images/matchingcon_midwrap.jpg) repeat-y left top;
	width: 244px;
	float: left;
	margin: 0 0 5px 0;
	}
.matchingcon_topwrap{
	background: url(../images/matchingcon_topwrap.jpg) no-repeat left top;
	width: 244px;
	}
.matchingcon_btmwrap{
	background: url(../images/matchingcon_btmwrap.jpg) no-repeat left bottom;
	width: 204px;
	min-height: 65px;
	padding: 10px 30px 10px 10px;
	}
.charityrecieved_midwrap{
	background: url(../images/charityrecieved_midwrap.jpg) repeat-y left top;
	width: 244px;
	float: left;
	margin: 0 0 10px 0;
	}
.charityrecieved_topwrap{
	background: url(../images/charityrecieved_topwrap.jpg) no-repeat left top;
	width: 244px;
	}
.charityrecieved_btmwrap{
	background: url(../images/charityrecieved_btmwrap.jpg) no-repeat left bottom;
	width: 204px;
	min-height: 81px;
	padding: 10px 30px 10px 10px;
	}
.donationpurchase_imgwrap{
	background: #fff;
	float: left;
	width: 119px;
	height: 77px;
	border: 1px solid #dee3e4;
	overflow: hidden;
	margin: 0 0 5px 0;
	-moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
	 border-radius: 5px 5px 5px 5px;
	}
.donationpurchase_imgwrap img{
	width: 119px;
	height: 77px;
	text-align: center;
	}
.matchingcon_imgwrap{
	background: #fff;
	float: left;
	width: 162px;
	height: 83px;
	border: 1px solid #dee3e4;
	overflow: hidden;
	margin: 0 0 5px 0;
	-moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
	 border-radius: 5px 5px 5px 5px;
	}
.matchingcon_imgwrap{
	width: 162px;
	height: 83px;
	text-align: center;
	}
.charityrecieved_imgwrap{
	background: #fff;
	float: left;
	width: 205px;
	height: 99px;
	border: 1px solid #dee3e4;
	overflow: hidden;
	margin: 0 0 10px 0;
	-moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
	 border-radius: 5px 5px 5px 5px;
	}
.charityrecieved_imgwrap img{
	width: 205px;
	height: 99px;
	text-align: center;
	}
.signwrap{
	float: left;
	padding: 0 0 5px 35px;
	}
.amountbox_topwrap{
	background: url(../images/amountbox_topwrap.png) no-repeat left top;
	float: left;
	width: 76px;
	padding: 5px 0 0 0;
	}
.amountbox_btmwrap{
	background: url(../images/amountbox_btmwrap.png) no-repeat left bottom;
	width: 76px;
	padding: 0 0 5px 0;
	}
.amountbox_midwrap{
	background: url(../images/amountbox_midwrap.png) repeat-y left top;
	width: 76px;
	padding: 0 0 5px 0;
	}
.amountbox_midwrap p{
	text-align: center;
	font: 20px Tahoma, Geneva, sans-serif;
	color: #005a8c;
	}
.donationpurchase_btmwrap .amountbox_midwrap{
	padding: 11px 0 11px 0;
	}
.matchingcon_btmwrap .amountbox_midwrap{
	padding: 14px 0 14px 0;
	}
.charityrecieved_btmwrap .amountbox_midwrap{
	padding: 22px 0 22px 0;
	}
.donationpurchase_btmwrap .textwrapper p,
.matchingcon_btmwrap .textwrapper p,
.charityrecieved_btmwrap .textwrapper p{
	font: 12px Arial, Helvetica, sans-serif;
	color: #fff;
	}
.donationpurchase_btmwrap .textwrapper{
	float: right;
	width: 119px;
	padding: 15px 0 0 0;
	}
.matchingcon_btmwrap .textwrapper{
	float: right;
	width: 119px;
	}
.charityrecieved_btmwrap .textwrapper{
	float: right;
	width: 119px;
	padding: 25px 0 0 0;
	}
.lupdates_midwrap{
	background: url(../images/lupdates_midwrap.jpg) repeat-y left top;
	width: 481px;
	}
.lupdates_btmwrap{
	background: url(../images/lupdates_btmwrap.jpg) no-repeat left bottom;
	width: 481px;
	}
.lupdates_topwrap{
	background: url(../images/lupdates_topwrap.jpg) no-repeat left top;
	width: 451px;
	height: 189px;
	padding: 10px 15px 10px 15px;
	}
.lupdates_topwrap .colleft{
	float: left;
	width: 40px;
	height: 189px;
	}
.lupdates_topwrap .colright{
	float: right;
	width: 411px;
	height: 189px;
	overflow: scroll;
	overflow-x: hidden;
	}
.lupdates_topwrap .profilepic_wrap{
	background: #fff;
	float: left;
	width: 58px;
	height: 55px;
	border: 1px solid #e9e9e9;
	margin: 0 0 9px 0;
	}
.lupdates_topwrap .profilepic_wrap img{
	width: 58px;
	height: 55px;
	}
.lupdates_contentwrap{
	background: #fff;
	float: left;
	width: 305px;
	min-height: 36px;
	border-right : 1px solid #9a9b9d;
	border-bottom: 1px solid #9a9b9d;
	margin: 0 0 9px 7px;
	padding: 6px 10px 6px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	}
.lupdates_contentwrap p{
	font: 12px Arial, Helvetica, sans-serif;
	color: #9a9b9d;
	}
.lupdates_contentwrap p.date{
	font: italic 11px Arial, Helvetica, sans-serif;
	color: #02799d;
	text-align: right;
	}
.lupdates_contentwrap a.donor{
	font-weight: bold;
	color: #aab300;
	text-decoration: none;
	}
.lupdates_contentwrap a.charity{
	font-weight: bold;
	color: #dc291e;
	text-decoration: none;
	}
.lupdates_contentwrap a.sponsor{
	font-weight: bold;
	color: #f7920c;
	text-decoration: none;
	}
	
	
/* LOGIN PAGE */

.form_wrapper,
.newdeed,
.edituser,
.contactus,
.login,
.forgotpwd,
.sign_up{
	width: 481px;
	}
.form_wrapper .form_heading,
.newdeed .form_heading,
.edituser .form_heading,
.contactus .form_heading,
.sign_up .form_heading,
.login .form_heading,
.forgotpwd .form_heading{
	background: url(../images/bg_form_heading.jpg) no-repeat left top;
	width: 481px;
	height: 41px;
	}
.form_wrapper .form_leftwrap,
.newdeed .form_leftwrap,
.edituser .form_leftwrap,
.contactus .form_leftwrap,
.sign_up .form_leftwrap,
.login .form_leftwrap,
.forgotpwd .form_leftwrap{
	background: url(../images/bg_form_leftwrap.jpg) no-repeat left top;
	width: 479px;
	padding: 0 0 0 2px;
	}
.form_wrapper .form_rightwrap,
.newdeed .form_rightwrap,
.edituser .form_rightwrap,
.contactus .form_rightwrap,
.sign_up .form_rightwrap,
.login .form_rightwrap,
.forgotpwd .form_rightwrap{
	background: url(../images/bg_form_rightwrap.jpg) no-repeat right top;
	width: 477px;
	padding: 0 2px 0 0;
	}
.form_wrapper .form_midwrap,
.newdeed .form_midwrap,
.edituser .form_midwrap,
.contactus .form_midwrap,
.sign_up .form_midwrap,
.login .form_midwrap,
.forgotpwd .form_midwrap{
	background: url(../images/bg_form_midwrap.jpg) repeat-x left top;
	width: 447px;
	min-height: 394px;
	padding: 10px 15px 0 15px;
	}
.form_wrapper .form_btmwrap,
.newdeed .form_btmwrap,
.edituser .form_btmwrap,
.contactus .form_btmwrap,
.sign_up .form_btmwrap,
.login .form_btmwrap,
.forgotpwd .form_btmwrap{
	width: 447px;
	padding: 10px 0 0 0;
	clear: both;
	}
.form_wrapper .form_heading h5,
.newdeed .form_heading h5,
.edituser .form_heading h5,
.contactus .form_heading h5,
.sign_up .form_heading h5,
.login .form_heading h5,
.forgotpwd .form_heading h5{
	color: #fff;
	text-shadow: #667b86 0px 1px 0px;
	padding: 5px 10px 0 10px;
	}
.form_wrapper label,
.newdeed label,
.edituser label,
.contactus label,
.sign_up label,
.login label,
.forgotpwd label{
	display: block;
	font: 14px Arial, Helvetica, sans-serif;
	color: #333;
	padding: 5px 5px 0px 5px;
	}
.form_wrapper .textbox_wrapper,
.newdeed .textbox_wrapper,
.edituser .textbox_wrapper,
.contactus .textbox_wrapper,
.sign_up .textbox_wrapper,
.login .textbox_wrapper,
.forgotpwd .textbox_wrapper{
	background: url(../images/bg_textbox_big.png) no-repeat left top;
	width: 447px;
	height: 30px;
	margin: 5px 0 0 0;
	}
.form_wrapper .textbox,
.newdeed .textbox,
.edituser .textbox,
.contactus .textbox,
.sign_up .textbox,
.login .textbox,
.forgotpwd .textbox{
	background: none;
	border: none;
	width: 437px;
	height: 20px;
	padding: 5px;
	margin: 0px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #666;
	}
.form_wrapper .checkbox,
.login .checkbox{
	float: left;
	margin-top: 6px;
	}
.form_wrapper .textarea_wrapper,
.contactus .textarea_wrapper{
	background: url(../images/bg_textarea_contactus.png) no-repeat left top;
	width: 447px;
	height: 181px;
	margin: 5px 0 0 0;
	}
.form_wrapper textarea,
.contactus textarea{
	background: none;
	border: none;
	padding: 5px;
	margin: 0px;
	width: 437px;
	height: 171px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #666;
	}
.infonote{
	font: 11px Arial, Helvetica, sans-serif;
	color: #878787;
	padding: 2px 5px 5px 5px;
	}
.form_wrapper .button,
.newdeed .button,
.edituser .button,
.contactus .button,
.sign_up .button,
.login .button,
.forgotpwd .button{
	float: left;
	margin: 10px 10px 10px 0px;
	outline: none;
	}
.edituser .formoption,
.sign_up .formoption,
.login .formoption,
.forgotpwd .formoption{
	float: left;
	padding: 5px 0px 10px 15px;
	border-left: 1px solid #dddddd;
	}
.edituser .formoption li p{
	font: 14px Arial, Helvetica, sans-serif;
	color: #333333;
	}
.edituser .formoption li p span{
	font: 14px Arial, Helvetica, sans-serif;
	color: #666;
	}
.edituser .formoption li a,
.sign_up .formoption li a,
.login .formoption li a,
.forgotpwd .formoption li a{
	font: 14px Arial, Helvetica, sans-serif;
	color: #4183c4;
	text-decoration: none;
	}
.edituser .formoption li a:hover,
.sign_up .formoption li a:hover,
.login .formoption li a:hover,
.forgotpwd .formoption li a:hover{
	color: #002144;
	}
.edituser .logowrapper{
	float: left;
	width: 223px;
	min-height: 116px;
	}
.edituser .logowrapper img{
	width: 223px;
	}
.edituser .browselogo_wrapper{
	float: right;
	width: 220px;
	padding: 66px 0 0 4px;
	}
.edituser .browselogo_wrapper input{
	margin-top: 5px;
	}
.pagenav{
	padding: 20px 0 0 5px;
	}
.pagenav li{
	float: left;
	margin: 0 10px 0 0;
	}
.pagenav li	a.show{
	background: url(../images/icon_show.png) no-repeat left 4px;
	display: block;
	width: 35px;
	height: 16px;
	padding: 8px 0 0 35px;
	font: 14px Arial, Helvetica, sans-serif;
	color: #333;
	text-decoration: none;
	}
.pagenav li	a.back{
	background: url(../images/icon_back.png) no-repeat left top;
	display: block;
	width: 35px;
	height: 16px;
	padding: 8px 0 0 30px;
	font: 14px Arial, Helvetica, sans-serif;
	color: #333;
	text-decoration: none;
	}
	
	
/* FAQ PAGE */

.conwrap{
	width: 451px;
	min-height: 10px;
	border: 1px solid #ccc;
	padding: 14px;
	}
.conwrap h2{
	font: 30px Tahoma, Geneva, sans-serif;
	color: #333;
	border-bottom: 1px solid #aaaaaa;
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
	}
.conwrap p{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #808080;
	padding: 0 0 15px 0;
	}
.conwrap .numwrap{
	background: url(../images/numwrap.png) no-repeat left top;
	float: left;
	width: 49px;
	height: 50px;
	}
.conwrap .numwrap h4{
	font: 24px Tahoma, Geneva, sans-serif;
	color: #6c6c6c;
	text-align: center;
	padding: 9px 0 0 0;
	}
.conwrap .textwrap{
	float: right;
	width: 391px;
	}
.conwrap .textwrap h5{
	font: bold 16px Tahoma, Geneva, sans-serif;
	color: #1c2a47;
	padding: 0 0 5px 0;
	}